body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4ab37e !important;
}
.bg-success {
  background-color: #e0bc65 !important;
}
.bg-info {
  background-color: #2c8157 !important;
}
.bg-warning {
  background-color: #4ab37e !important;
}
.bg-danger {
  background-color: #c1c1c1 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4ab37e !important;
  border-color: #4ab37e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #347d58 !important;
  border-color: #347d58 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #347d58 !important;
  border-color: #347d58 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffc90e !important;
  border-color: #ffc90e !important;
  color: #0e0b00 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #0e0b00 !important;
  background-color: #c19500 !important;
  border-color: #c19500 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #0e0b00 !important;
  background-color: #c19500 !important;
  border-color: #c19500 !important;
}
.btn-info,
.btn-info:active {
  background-color: #2c8157 !important;
  border-color: #2c8157 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #194831 !important;
  border-color: #194831 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #194831 !important;
  border-color: #194831 !important;
}
.btn-success,
.btn-success:active {
  background-color: #e0bc65 !important;
  border-color: #e0bc65 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #cf9f2a !important;
  border-color: #cf9f2a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #cf9f2a !important;
  border-color: #cf9f2a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4ab37e !important;
  border-color: #4ab37e !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #347d58 !important;
  border-color: #347d58 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #347d58 !important;
  border-color: #347d58 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #2c6b4b;
  color: #2c6b4b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #4ab37e;
  border-color: #4ab37e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4ab37e !important;
  border-color: #4ab37e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #a78200;
  color: #a78200;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #0e0b00;
  background-color: #ffc90e;
  border-color: #ffc90e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #0e0b00 !important;
  background-color: #ffc90e !important;
  border-color: #ffc90e !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #123524;
  color: #123524;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #2c8157;
  border-color: #2c8157;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2c8157 !important;
  border-color: #2c8157 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #ba8e25;
  color: #ba8e25;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #e0bc65;
  border-color: #e0bc65;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e0bc65 !important;
  border-color: #e0bc65 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #2c6b4b;
  color: #2c6b4b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #4ab37e;
  border-color: #4ab37e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4ab37e !important;
  border-color: #4ab37e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #4ab37e !important;
}
.text-secondary {
  color: #ffc90e !important;
}
.text-success {
  color: #e0bc65 !important;
}
.text-info {
  color: #2c8157 !important;
}
.text-warning {
  color: #4ab37e !important;
}
.text-danger {
  color: #c1c1c1 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #2c6b4b !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #a78200 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #ba8e25 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #123524 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #2c6b4b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #8e8e8e !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2c8157;
}
.alert-warning {
  background-color: #4ab37e;
}
.alert-danger {
  background-color: #c1c1c1;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4ab37e;
  border-color: #4ab37e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #4ab37e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a3d9be;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #63ca97;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #a3d9be;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #4ab37e;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4ab37e;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4ab37e;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4ab37e;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4ab37e;
  border-bottom-color: #4ab37e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #4ab37e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffc90e !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234ab37e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-qFNSMvpLlk {
  background-image: url("../../../assets/images/pxl-20221031-1810333032-2000x2665.jpg");
}
.cid-qFNSMvpLlk .mbr-text,
.cid-qFNSMvpLlk .mbr-section-btn {
  color: #0eb933;
}
.cid-qFNSMvpLlk H1 {
  color: #000000;
  text-align: center;
}
.cid-qFNSMvpLlk .mbr-text,
.cid-qFNSMvpLlk .mbr-section-btn B {
  color: #ffffff;
}
.cid-qG0XNF6Ocy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
.cid-qG0XNF6Ocy .mbr-section-subtitle {
  color: #4ab37e;
}
.cid-qG0XNF6Ocy H2 {
  color: #4ab37e;
}
.cid-qG0XNF6Ocy B {
  color: #2c8157;
}
.cid-qG0J8brTqr {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #2e2e2e;
}
.cid-qG0J8brTqr h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qG0J8brTqr p {
  color: #767676;
  text-align: left;
}
.cid-qG0J8brTqr .card-box {
  padding-top: 2rem;
}
.cid-qG0J8brTqr .card-wrapper {
  height: 100%;
}
.cid-qG0J8brTqr P {
  color: #4ab37e;
}
.cid-tsQiG73QEp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
.cid-qG0JgbRvqU {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #2e2e2e;
}
.cid-qG0JgbRvqU .line {
  background-color: #ffc90e;
  color: #ffc90e;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qG0JgbRvqU .section-text {
  padding: 2rem 0;
  color: #e0bc65;
}
.cid-qG0JgbRvqU .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qG0JgbRvqU .inner-container {
    width: 100% !important;
  }
}
.cid-qG0RMYFcKu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
.cid-qG0RMYFcKu H2 {
  color: #2c8157;
}
.cid-qG0RMYFcKu .mbr-section-subtitle {
  color: #4ab37e;
}
.cid-tsQazQY6Ge {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2c8157;
}
.cid-tsQazQY6Ge .image-block {
  margin: auto;
}
.cid-tsQazQY6Ge figcaption {
  position: relative;
}
.cid-tsQazQY6Ge figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tsQazQY6Ge .image-block {
    width: 100% !important;
  }
}
.cid-qG0UxaCTc4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qG0UxaCTc4 .line {
  background-color: #2c8157;
  color: #2c8157;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qG0UxaCTc4 .section-text {
  padding: 2rem 0;
  color: #4ab37e;
}
.cid-qG0UxaCTc4 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qG0UxaCTc4 .inner-container {
    width: 100% !important;
  }
}
.cid-tsQinTFZCV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
.cid-qRoSeYdNYJ {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(0deg, #000000, #2e2e2e);
}
.cid-qRoSeYdNYJ .mbr-iconfont-social {
  font-size: 32px;
  color: #ffffff;
}
.cid-qRoSeYdNYJ .social-list a:focus {
  text-decoration: none;
}
.cid-qRoSeYdNYJ H2 {
  color: #e0bc65;
}
.cid-rgALfGSclM {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/pxl-20210429-1637346342-768x768.jpg");
}
.cid-rgALfGSclM .mbr-section-subtitle {
  color: #232323;
}
.cid-rgALfGSclM .mbr-section-subtitle B {
  color: #000000;
}
.cid-tsQ4zObZRA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-tsQ4zObZRA .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tsQ4zObZRA .section-text {
  padding: 2rem 0;
}
.cid-tsQ4zObZRA .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-tsQ4zObZRA .inner-container {
    width: 100% !important;
  }
}
.cid-tsQLtZsSzJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
